<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.clericj.textclockwatchface"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="14" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <receiver
            android:name=".WatchFaceTextClockProvider"
            android:enabled="true"
            android:exported="true"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/textclock_widget_provider" />
        </receiver>
        <service android:name="TextClockService"></service>
    </application>

</manifest>
